@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --toolbarbutton-hover-background: rgba(0,0,0,.1);
  --toolbarbutton-hover-bordercolor: rgba(0,0,0,.2);
  --toolbarbutton-hover-boxshadow: none;

  --toolbarbutton-active-background: rgba(0,0,0,.15);
  --toolbarbutton-active-bordercolor: rgba(0,0,0,.3);
  --toolbarbutton-active-boxshadow: 0 0 0 1px rgba(0,0,0,.15) inset;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(0,0,0,.1);
  
  --urlbar-separator-color: ThreeDLightShadow;
}

#main-window[sizemode="normal"] #toolbar-menubar,
/* We want a 4px gap between the TabsToolbar and the toolbar-menubar when the
   toolbar-menu is displayed in either restored or maximized mode. */
#main-window:not([sizemode="fullscreen"]) #toolbar-menubar:-moz-any(:not([autohide="true"]), :not([inactive="true"])) {
  margin-bottom: 4px;
}

#navigator-toolbox > toolbar:not(:-moz-lwtheme) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}