/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== listbox.css =======================================================
  == Styles used by XUL listbox-related elements.
  ======================================================================= */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: listbox ::::: */

listbox {
  -moz-appearance: listbox;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

listbox[disabled="true"] {
  color: GrayText;
}

/* ::::: listitem ::::: */

listitem {
  border: 1px solid transparent;
}

listbox:focus > listitem[selected="true"][current="true"] {
  outline: 1px dotted #F3D982;
}

listbox:focus > listitem[current="true"] {
  outline: 1px dotted Highlight;
  outline-offset: -1px;
}

listitem[selected="true"] {
  background-color: -moz-cellhighlight;
  color: -moz-cellhighlighttext;
}

listbox:focus > listitem[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
}

/* ::::: listheader ::::: */

listheader {
  -moz-appearance: treeheadercell;
  -moz-box-align: center;
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  padding: 0 4px;
}

listheader[sortable="true"]:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  padding-top: 1px;
  padding-bottom: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 4px;
}

.listheader-icon {
  -moz-margin-end: 2px;
}

.listheader-label {
  margin: 0px !important;
}

/* ..... sort direction icon ..... */

.listheader-sortdirection {
  list-style-image: none;
}

.listheader-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.png");
}

.listheader-sortdirection[sortDirection="ascending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-asc-classic.png");
}

.listheader-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.png");
}

.listheader-sortdirection[sortDirection="descending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-dsc-classic.png");
}

/* ::::: listcell ::::: */

.listcell-label {
  margin: 0px !important;
  padding-top: 0px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 0px;
  white-space: nowrap;
}

.listcell-icon {
  -moz-margin-end: 2px;
}

.listcell-label[disabled="true"] {
  color: GrayText;
}

/* ::::: listcell checkbox ::::: */

.listcell-check {
  -moz-appearance: checkbox;
  -moz-box-align: center;
  margin: 0px 2px;
  border: 1px solid -moz-DialogText;
  min-width: 13px;
  min-height: 13px;
  background: -moz-Field no-repeat 50% 50%;
}

@media (-moz-windows-default-theme) {
  @media not all and (-moz-os-version: windows-xp) {
    listitem {
      color: -moz-FieldText;
      -moz-margin-start: 1px;
      -moz-margin-end: 1px;
      padding-top: 1px;
      padding-bottom: 1px;
      border-width: 1px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    listitem[selected="true"] {
      border-top-color: rgb(217,217,217);
      border-right-color: rgb(217,217,217);
      border-left-color: rgb(217,217,217);
      border-bottom-color: rgb(204,204,204);
      background-image: none;
      background-color: rgb(217,217,217);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[selected="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(165,214,255);
      background-image: none;
      background-color: rgb(205,232,255);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[current="true"] {
      border-color: rgb(123,195,255);
      outline: none;
    }

    listbox:focus > listitem[selected="true"][current="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(165,214,255);
      background-color: rgb(205,232,255);
      outline: none;
    }
  }

  @media (-moz-os-version: windows-vista),
         (-moz-os-version: windows-win7) {
    listitem {
      border-radius: 3px;
      box-shadow: inset 0 0 0 1px rgba(255,255,255,.4), inset 0 -1px 0 1px rgba(255,255,255,.2);
    }
	
	listitem[selected="true"] {
      border-top-color: rgb(217,217,217);
      border-right-color: rgb(217,217,217);
      border-left-color: rgb(217,217,217);
      border-bottom-color: rgb(217,217,217);
      background-image: linear-gradient(rgba(190,190,190,.1), rgba(190,190,190,.4));
      background-color: rgba(190,190,190,.15);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[selected="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(205,232,255);
      background-image: linear-gradient(rgba(131,183,249,.16), rgba(131,183,249,.375));
      background-color: rgba(131,183,249,.02);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[current="true"] {
      border-color: rgb(125,162,206);
      outline: none;
    }

    listbox:focus > listitem[selected="true"][current="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(165,214,255);
      background-color: rgba(131,183,249,.15);
      outline: none;
    }
  }

  @media (-moz-os-version: windows-win8) {
    listitem[selected="true"] {
      border-top-color: rgb(217,217,217);
      border-right-color: rgb(217,217,217);
      border-left-color: rgb(217,217,217);
      border-bottom-color: rgb(217,217,217);
      background-image: linear-gradient(rgba(190,190,190,.4), rgba(190,190,190,.4));
      background-color: rgba(190,190,190,.15);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[selected="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(132,172,221);
      background-image: linear-gradient(rgba(131,183,249,.375), rgba(131,183,249,.375));
      background-color: rgba(131,183,249,.02);
      color: -moz-DialogText;
    }

    listbox:focus > listitem[current="true"] {
      border-color: rgb(125,162,206);
      outline: none;
    }

    listbox:focus > listitem[selected="true"][current="true"] {
      border-top-color: rgb(205,232,255);
      border-right-color: rgb(205,232,255);
      border-left-color: rgb(205,232,255);
      border-bottom-color: rgb(165,214,255);
      background-color: rgba(131,183,249,.15);
      outline: none;
    }
  }
}
