/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --pref-pane-text: #c1c1c1;
  --pref-pane-border-focus: 1px dotted #fff;
  --pref-pane-border-highlight: #ff9500;
  --pref-pane-text-selected: #f2f2f2;
  --pref-pane-background: #424f5a;
  --pref-pane-background-hover: #5e6972;
  --pref-pane-background-active: #343f48;
}

/* ::::: dialog ::::: */

prefwindow {
  padding: 0px;
}

prefpane {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane] {
  -moz-appearance: none;
  margin: 0px 1px 0px 1px;
  padding: 1px 3px 1px 3px;
  min-width: 4.5em;
}

.paneSelector {
  margin: 0px;
  -moz-padding-start: 10px;
  background-color: var(--pref-pane-background);
  color: var(--pref-pane-text);
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

radio[pane]:hover {
  background-color: var(--pref-pane-background-hover);
  color: var(--pref-pane-text);
  -moz-appearance: none;
}

radio[pane][selected="true"] {
  background-color: var(--pref-pane-background-active);
  border-bottom: 4px solid var(--pref-pane-border-highlight);
  color: var(--pref-pane-text-selected); 
  -moz-appearance: none;
}

radio[pane]:-moz-focusring {
  border-left: var(--pref-pane-border-focus);
  border-right: var(--pref-pane-border-focus);
}

