@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --toolbarbutton-hover-background: rgba(255,255,255,.5) linear-gradient(rgba(255,255,255,.5), transparent);
  --toolbarbutton-hover-bordercolor: rgba(0,0,0,.25);
  --toolbarbutton-hover-boxshadow: none;

  --toolbarbutton-active-background: rgba(154,154,154,.5) linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4));
  --toolbarbutton-active-bordercolor: rgba(0,0,0,.3);
  --toolbarbutton-active-boxshadow: 0 1px 1px rgba(0,0,0,.1) inset, 0 0 1px rgba(0,0,0,.3) inset;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(200,200,200,.5);

  --urlbar-separator-color: ThreeDShadow;
}

/* Appmenu */

#appmenu-toolbar-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/hamburger-linux.png");
  -moz-image-region: rect(0px, 18px, 18px, 0px);
  margin: 0;
  padding: 0;
  padding-inline-start: 2px;
  padding-inline-end: 1px;
}

toolbar[brighttext] #appmenu-toolbar-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/hamburger-inverted.png");
  -moz-image-region: rect(0px, 18px, 18px, 0px);
}

#appmenu-toolbar-button > label,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  display: none !important;
}

/* navigator-toolbox */

#navigator-toolbox[tabsontop=true] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar):not(#TabsToolbar),
#navigator-toolbox[tabsontop=false] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  padding-top: 1px;
  padding-bottom: 1px;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  box-shadow: 0px -4px 0px -1px rgba(102, 102, 102, 0.4) inset;
}

#TabsToolbar[collapsed="true"] + #nav-bar,
#main-window[tabsontop=true] #nav-bar:-moz-lwtheme {
  border-top-style: none !important;
}

#TabsToolbar[tabsontop=true]:-moz-lwtheme {
  margin-bottom: 0;
}
  
/* Tabstrip */

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme):-moz-system-metric(menubar-drag) {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
}

/* S4E fix */
#notification-popup-box {
  margin-inline-start: 0 !important;
}

/* Location bar */
#main-window {
  --urlbar-border-color: ThreeDShadow;
}

#navigator-toolbox:-moz-lwtheme {
  --urlbar-border-color: rgba(0,0,0,.3);
}

#urlbar,
.searchbar-textbox {
  border-radius: 2px;
}

.urlbar-history-dropmarker {
  -moz-appearance: toolbarbutton-dropdown !important;
  list-style-image: none !important;
  -moz-image-region: auto !important;
}

/* Keyhole-style back-forward */
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > .toolbarbutton-icon { {
  padding-left: calc(var(--backbutton-urlbar-overlap) + 3px);
  padding-right: 3px;
  border-left-style: none;
  border-radius: 0;
  max-width: calc(var(--forwardbutton-width) + var(--backbutton-urlbar-overlap));
}
