@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Appmenu */

#appmenu-toolbar-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/hamburger.png");
  -moz-image-region: rect(0px, 18px, 18px, 0px);
  margin: 0;
  padding: 0;
  -moz-padding-start: 2px;
  -moz-padding-end: 1px;
}

toolbar[brighttext] #appmenu-toolbar-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/hamburger-inverted.png");
  -moz-image-region: rect(0px, 18px, 18px, 0px);
}

#appmenu-toolbar-button > label,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  display: none !important;
}

/* navigator-toolbox */

#navigator-toolbox[tabsontop=true] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar):not(#TabsToolbar),
#navigator-toolbox[tabsontop=false] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  padding-top: 1px;
  padding-bottom: 1px;
}

#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 > .toolbarbutton-badge-container,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  -moz-margin-end: 0;
  padding: 2px 6px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition-property: background-color, border-color;
  transition-duration: 150ms;
}

#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-container,
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #nav-bar-customizationtarget > #unified-back-forward-button > .toolbarbutton-1:-moz-any([disabled],:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon {
  background-image: hsla(0,0%,100%,.3) linear-gradient(hsla(0,0%,100%,.7), hsla(0,0%,100%,.2));
  border-color: rgb(154,154,154);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset, 
            0 0 0 1px hsla(0,0%,100%,.2) inset, 
      0 1px 0 hsla(0,0%,0%,.03);
}

#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover:active > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-container {
  background-image: linear-gradient(hsla(0,0%,100%,.7), hsla(0,0%,100%,.4));
  background-color: rgba(154,154,154,.5);
  border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset, 
            0 0 1px hsla(0,0%,0%,.3) inset;
  transition: 10ms;
}

#main-window[tabsontop=true] #nav-bar {
  border-top: 1px solid hsla(209,67%,12%,0.35) !important;
}

#TabsToolbar[tabsontop=false] {
  border-bottom: 1px solid ThreeDShadow !important;
}

#TabsToolbar[collapsed="true"] + #nav-bar,
#main-window[tabsontop=true] #nav-bar:-moz-lwtheme {
  border-top-style: none !important;
}

#TabsToolbar[tabsontop=true]:-moz-lwtheme {
  margin-bottom: 0;
}
  

/* Tabstrip */

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme):-moz-system-metric(menubar-drag) {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
}

#TabsToolbar[tabsontop=false] {
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 1px, rgba(0,0,0,.05) 1px, transparent 50%);
}

/* S4E fix */
#notification-popup-box {
  -moz-margin-start: 0 !important;
}

/* urlbar */
#urlbar,
.searchbar-textbox {
  border-radius: 2px;
}
